{
  "extends": "airbnb",
  "parserOptions": {
  "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": 1,
    "comma-dangle": 0,
    "arrow-body-style": ["error", "as-needed"],
    "hoist": "functions",
    "consistent-return":0,
    "requireForBlockBody": true,
    "arrow-parens": 1,
    "no-shadow":0,
    "one-var":1,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-unescaped-entities": ["error", {"forbid": [">", "}"]}],
    "import/no-named-as-default": 0,
    "react/prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 1,
    "jsx-a11y/click-events-have-key-events": 1
  }
}
